body {
    background-image: url(backgroundbody.jpg);
    background-repeat: repeat;
    background-size: 100%;   
}
.profilepic {
    margin-top: 12%;
    width: 15%;
}
#bgprofpic {
    padding: 25px;
    background: url(background\ pp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #F9B6B6;
}
.name {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:maroon;
}
.about1 {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:darkgray;
}
.about2 {
    text-align: left;
    border: 1px solid #F9B6B6;
}
.icontable1 {
    margin-left: 50px;
    width: 7%;
    content: url("https://img.icons8.com/glyph-neue/128/000000/worldwide-location.png");
}
.icontable2 {
    margin-left: 45px;
    width: 7%;
    content: url("https://img.icons8.com/cotton/128/000000/honeycombs--v4.png");
}
.icontable3 {
    margin-top: 5px;
    margin-left: 45px;
    width: 30px;
    height: 30px;
    content: url("https://img.icons8.com/pastel-glyph/28/000000/download.png");
}
.columnrule {
    column-rule-style: solid;
    column-rule-color: darkgrey;   
}
.bottomspace {
    margin-bottom: -2px;
}
#banner {
    background-color: #FBE4E4;
    font-weight: bold;
    font-size: 15px;
    table-layout: fixed;
    width: 1200px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
}
#firstrow {
    padding-left: 50px;
}
#secondrow {
    color:maroon;
    font-size: small;
}
.buttonbanner {
    background-color: #C9C2C2;
    color: black;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.buttonbanner2 {
    background-color: #E7E7E7;
    color: maroon;
    text-align: center;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}
.box1a {
    float: left;
    width: 40%;
    padding: 40px;
    margin-left: 14%;
    margin-top: 20px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .box2 {
    float: right;
    width: 31%;
    padding: 40px;
    margin-right: 14%;
    margin-top: 20px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .box3 {
    float: left;
    width: 40%;
    padding: 50px;
    margin-top: 15px;
    margin-left: 14%;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .box4 {
    float: left;
    width: 40%;
    padding: 50px;
    margin-top: 15px;
    margin-left: 14%;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .box5 {
    float: right;
    width: 31%;
    margin-right: 14%;
    margin-top: -15%;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .box6 {
    float: right;
    width: 31%;
    padding: 32px;
    margin-right: 14%;
    margin-top: -1.5%;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .aboutfont {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
  }
  .aboutfont2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
  }
  .line {
    border: 1px solid maroon;
    margin-bottom: 3%;
  }
.tcontent {
    color: maroon;
    font-size: 0.875rem;
    font-weight: bolder;
    line-height: 1.8;
    vertical-align: middle;
  }
  .tcontentx {
    color: maroon;
    font-size: 0.875rem;
    font-weight: bolder;
    height: 50px;
    vertical-align: middle;
  }
.tcontent2 {
    color: black;
    font-size: 0.875rem;
    letter-spacing: 2%;
    padding: 2%;
    margin-left: 20px;
    text-align: justify;
}
.tcontent3{
    color: black;
    font-size: 0.875rem;
    letter-spacing: 2%;
    padding: 2%;
    margin-left: 20px;
    text-align: left;
  }
.inputdata[type=text] {
    width: 100%;
    height: 1%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}  
.inputdata2[type=text]{
    width: 100%;
    height: 10%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.socialmedia {
    margin-top: 73%;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: maroon;
}

 